<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="light" data-view="Graph" data-title="Light in Lumen"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp" data-view="Meter" data-title="Temperature in °C" data-min="-10" data-max="40"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hum" data-view="Number" data-title="Humidity"></div>
    </li>
  </ul>
</div>
